[Desktop Entry]
Name=Paleta
Name[ar]=باليتا
Name[ca]=Paleta
Name[ca@valencia]=Paleta
Name[de]=Paleta
Name[es]=Paleta
Name[eu]=Paleta
Name[fi]=Paleta
Name[fr]=Paleta
Name[gl]=Paleta
Name[he]=Paleta
Name[ia]=Paleta
Name[it]=Paleta
Name[ka]=Paleta
Name[ko]=Paleta
Name[lv]=Paleta
Name[nl]=Paleta
Name[pl]=Paleta
Name[pt_BR]=Paleta
Name[ro]=Paleta
Name[sl]=Paleta
Name[sv]=Paleta
Name[tr]=Paleta
Name[uk]=Paleta
Name[zh_CN]=Paleta 颜色工具
Name[zh_TW]=Paleta
Comment=Color utilities
Comment[ar]=أدوات الألوان
Comment[ca]=Utilitats de color
Comment[ca@valencia]=Utilitats de color
Comment[de]=Farbwerkzeuge
Comment[es]=Utilidades de color
Comment[eu]=Kolore erabilgarritasunak
Comment[fi]=Värityökaluja
Comment[fr]=Utilitaires de couleurs
Comment[gl]=Ferramentas de cores.
Comment[he]=כלי עזר לצבעים
Comment[ia]=Utilitates de Color
Comment[it]=Accessori per i colori
Comment[ka]=ფერის ხელსაწყოები
Comment[ko]=색상 유틸리티
Comment[lv]=Krāsu utilītprogrammas
Comment[nl]=Hulpmiddelen voor kleur
Comment[pl]=Narzędzia kolorów
Comment[pt_BR]=Utilitários de cor
Comment[ro]=Utilitare de culoare
Comment[sl]=Pripomočki za barve
Comment[sv]=Färgverktyg
Comment[tr]=Renk izlenceleri
Comment[uk]=Інструменти кольору
Comment[zh_CN]=颜色工具
Comment[zh_TW]=顏色工具
TryExec=paleta
Exec=paleta
Terminal=false
Type=Application
GenericName=Colors
GenericName[ar]=الألوان
GenericName[ca]=Colors
GenericName[ca@valencia]=Colors
GenericName[de]=Farben
GenericName[es]=Colores
GenericName[eu]=Koloreak
GenericName[fi]=Värit
GenericName[fr]=Couleurs
GenericName[gl]=Cores
GenericName[he]=צבעים
GenericName[ia]=Colores
GenericName[it]=Colori
GenericName[ka]=ფერები
GenericName[ko]=색상
GenericName[lv]=Krāsas
GenericName[nl]=Kleuren
GenericName[pl]=Kolory
GenericName[pt_BR]=Cores
GenericName[ro]=Culori
GenericName[sl]=Barve
GenericName[sv]=Färger
GenericName[tr]=Renkler
GenericName[uk]=Кольори
GenericName[zh_CN]=颜色
GenericName[zh_TW]=顏色
StartupNotify=true
Icon=paleta
Categories=Qt;KDE;Utility;
