[Desktop Entry]
Name=Paleta
Comment=Color utilities
TryExec=paleta
Exec=paleta
Terminal=false
Type=Application
GenericName=Colors
StartupNotify=true
Icon=paleta
Categories=Qt;KDE;Utility;
